<li><a routerLink="/contact/java">Java</a></li>
<li><a routerLink="/contact/web">web</a></li>
<table class="table table-bordered">
    <tr>
        <div class="card img-fluid" style="width:100px">
            <td>
                <img class="card-img-top" src="assets/images/java.png" alt="Card image" style="width:50%">
                <div class="card-img-overlay">
                    <h4 class="card-title">Java Course</h4>
                    <a routerLink="/contact/java" class="btn btn-primary">Click Here</a>
                </div>
            </td>
            <td>
                <img class="card-img-top" src="assets/images/browser.jpg" alt="Card image" style="width:50%">
                <div class="card-img-overlay">
                    <h4 class="card-title">Web Course</h4>
                    <a routerLink="/contact/web" class="btn btn-primary">Click Here</a>
                </div>
            </td>
        </div>
    </tr>
</table>
<router-outlet></router-outlet>